<<<<<<< HEAD

#centered{
	display: block;
	text-align: center;

}

.test{
	width: 480px;
	height: 34px;
}

#toplist{
	list-style-type: none;
	margin: 0;
	margin-top: 25px;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

#toplist li{
	float: right;
}

#toplist li a{
	color: gray;
	text-align: center;
	padding: 8px 8px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
=======
#logoandform{
	margin = 0 auto;
>>>>>>> origin
}