li{
	font-family: Arial;
}

#sininho, #tecladinho {
	opacity: 0.70;
	height: 26px;
	width: 26px;
	background-color: white;
}

#bolinha {
	fill: orange;
	height: 35px;
	width: 35px;
	margin-bottom: 3px;
}

#sininho:hover, #tecladinho:hover{
	opacity: 1;
}

#centered{
	display: block;
	text-align: center;
}

.test{
	width: 582px;
	height: 34px;
	padding: 5px 8px 0px 20px;
	background-color: white;
	border-color: rgba(0, 0, 0, 0.180);
	border-radius: 2px;
	font-size: small;
}

#toplist{
	list-style-type: none;
	margin: 0;
	margin-top: 25px;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

#toplist li{
	font-size: 13px;
	display: table;
	float: right;
}

#toplist li a{
	text-align: center;
	padding: 8px 8px;
}

li a:hover{
	color: rgb(49, 49, 49);
	text-decoration: underline;
}

#botlist{
	list-style-type: none;
	margin-left: 0px;
	margin-top: 0px;
	overflow: hidden;
	padding: 0;
}

#botlist li{
	float: left;
}

#botlist li a{
	color: gray;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

#imagem{
	padding-top: 109px;
	margin-top: 89px;
}

#brasilnavbar{
	font-size: 15px;
	position: fixed;
	bottom: 42px;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	height: 42px;
	width: 100%;
}

#botnavbar{
	font-size: 10pt;
	position: fixed;
	bottom: 0%;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	height: 42px;
	width: 100%;
}